<% content_for :meta do %>
  <title>dakick.com API Terms</title>
<% end %>
<h1>dakick.com API Terms</h1>

<h2>Allowed data:</h2>

<h3>Event categories</h3>
<ul>
  <li>Concerts/Parties</li>
  <li>Trade Shows</li>
  <li>Conferences</li>
  <li>Exhibitions</li>
</ul>

<h3>Meta Categories</h3>
<ul>
  <li>People</li>
  <li>Bands</li>
  <li>Venues</li>
</ul>

<h3>Recommendation Engine</h3>
<ul>
  <li>Similar Events</li>
  <li>Similar People/Band</li>
</ul>

<h2>Restrictions</h2>
<ul>
  <li>You can not sell the data provided buy dakick API. (You may sell your app or you may get ad revenue but not sell data)</li>
  <li>You have to provide dakick URL in each data usage to the end user.</li>
  <li>You have to provide daily and hourly traffic before launch of your service.</li>
  <li>You can not use or store other category data which are not provided above.</li>
  <li>You may send up to 20.000 requests/day/token. (Contact with us for more usage)</li>
</ul>

<h2>Warnings</h2>
dakick has the rights to stop API usage if it sees any abuse or misuse.