<% content_for :meta do %>
  <title>Dakick API</title>
<% end %>
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Dakick API!</h1>
  <p>Hack the dakick.com event API service. Note: Current version of the API only supports token based authentication. Upcoming version of the API is going to support OAuth2 authentication. Follow us @<a href="http://twitter.com/dakickcom">twitter</a>!</p>
  <p><a class="btn primary large" href="/projects/api-v1-dakick-com">Start hacking it!</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span6">
    <h2>API document(o|e)r</h2>
    <p>Start creating your API doc and publish it instantly with dakick API documentor.</p>
    <p><a class="btn" href="https://github.com/dakick/apidocum">Get the code on github!</a></p>
  </div>
  <div class="span5">

  </div>
  <div class="span5">

  </div>
</div>