<% content_for :meta do %>
  <title>Create your own event app , dakick API</title>
  <meta name="description" content="Technical details about creating your own event app with dakick.com's data.">
<% end %>
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Dakick API!</h1>
  <p>Hack the dakick.com event API service. Note: Current version of the API only supports token based authentication. Upcoming version of the API is going to support OAuth2 authentication. Follow us @<a href="http://twitter.com/dakickcom">twitter</a>! Request an <a href="mailto:developers@dakick.com">API key</a>.</p>
  <p><a class="btn primary large" href="/projects/api-v1-dakick-com">Start hacking it!</a> <a class="btn large" href="http://dakickdevelopers.tumblr.com/">Samples and more!</a>
  </p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span6">
    <h2>API document(o|e)r</h2>
    <p>Start creating your API doc and publish it instantly with dakick API documentor.</p>
    <p><a class="btn" href="https://github.com/dakick/apidocumentor">Get the code on github!</a></p>
  </div>
  <div class="span5">

  </div>
  <div class="span5">

  </div>
</div>